.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    height: 3.75rem;
  }

  & > header {
    width: 100%;
    margin-block: 3.25rem;


    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      background-color: transparent;
      border: none;
    }

    & img {
      height: 2rem;
      transition: scale 0.5s;

      &:hover {
        scale: 1.3;
      }
    }

    & span {
      font-size: 1.125rem;
      color: #9b9b9b;

      & strong {
        font-size: 1.25rem;
        color: #e8891c;
      }
    }
  }
}
